<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
              <li><a href="/links">Links</a></li>
              <li><a href="/tutorials">Tutorials</a></li>
              <li><a href="/code">Code</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
    		<ul>
        		<li><a href="https://github.com/hacky-hour">github.com/hacky-hour</a></li>
            <li><a href="https://github.com/hacky-hour/help/issues">Post an issue on our github help repo to get coding help!</a></li>
			  </ul>
		  </footer>
		</body>
	</html>
